In [1]:
from Keys import yelp_id, yelp_api_key
import requests
import pprint as pp
import pandas as pd

In [2]:
# Get List of Zip Codes
path = '../Raw Data/ZipCodes.csv'
zip_codes = pd.read_csv(path)
zip_codes.head()

   zip_code      city   state state_abv
0     99546      Adak  Alaska        AK
1     99571      Adak  Alaska        AK
2     99615    Akhiok  Alaska        AK
3     99551  Akiachak  Alaska        AK
4     99552     Akiak  Alaska        AK

In [3]:
# Filter For Zip Codes in Texas
zip_codes_tx = zip_codes.loc[zip_codes['state_abv']=='TX'].copy().reset_index(drop=True)
zip_codes_tx.head()

# Filter Only For Houston
zip_codes_hou_tx = zip_codes_tx.loc[zip_codes_tx['city']=='Houston'].copy().reset_index(drop=True)
zip_codes_hou_tx.head()

   zip_code     city  state state_abv
0     77001  Houston  Texas        TX
1     77002  Houston  Texas        TX
2     77003  Houston  Texas        TX
3     77004  Houston  Texas        TX
4     77005  Houston  Texas        TX

In [4]:
# Get Number of Zip Codes
print(zip_codes_hou_tx.shape[0])

# Get Zips Into a List
zip_codes_search = list(zip_codes_hou_tx['zip_code'])
zip_codes_search

190

[77001,
 77002,
 77003,
 77004,
 77005,
 77006,
 77007,
 77008,
 77009,
 77010,
 77011,
 77012,
 77013,
 77014,
 77015,
 77016,
 77017,
 77018,
 77019,
 77020,
 77021,
 77022,
 77023,
 77024,
 77025,
 77026,
 77027,
 77028,
 77029,
 77030,
 77031,
 77032,
 77033,
 77034,
 77035,
 77036,
 77037,
 77038,
 77039,
 77040,
 77041,
 77042,
 77043,
 77044,
 77045,
 77046,
 77047,
 77048,
 77049,
 77050,
 77051,
 77052,
 77053,
 77054,
 77055,
 77056,
 77057,
 77058,
 77059,
 77060,
 77061,
 77062,
 77063,
 77064,
 77065,
 77066,
 77067,
 77068,
 77069,
 77070,
 77071,
 77072,
 77073,
 77074,
 77075,
 77076,
 77077,
 77078,
 77079,
 77080,
 77081,
 77082,
 77083,
 77084,
 77085,
 77086,
 77087,
 77088,
 77089,
 77090,
 77091,
 77092,
 77093,
 77094,
 77095,
 77096,
 77097,
 77098,
 77099,
 77201,
 77202,
 77203,
 77204,
 77205,
 77206,
 77207,
 77208,
 77209,
 77210,
 77212,
 77213,
 77215,
 77216,
 77217,
 77218,
 77219,
 77220,
 77221,
 77222,
 77223,
 77224,
 77225,
 77226,
 77227,
 77228,
 77229,
 77230,
 77231,
 77233,
 77234,
 77235,
 77236,
 77237,
 77238,
 77240,
 77241,
 77242,
 77243,
 77244,
 77245,
 77246,
 77247,
 77248,
 77249,
 77250,
 77251,
 77252,
 77253,
 77254,
 77255,
 77256,
 77257,
 77258,
 77259,
 77260,
 77261,
 77262,
 77263,
 77265,
 77266,
 77267,
 77268,
 77269,
 77270,
 77271,
 77272,
 77273,
 77274,
 77275,
 77276,
 77277,
 77278,
 77279,
 77280,
 77282,
 77284,
 77285,
 77286,
 77287,
 77288,
 77289,
 77290,
 77291,
 77292,
 77293,
 77294,
 77296,
 77297,
 77298,
 77299]

In [ ]:
headers = {'Authorization': 'Bearer ' + yelp_api_key}
url = 'https://api.yelp.com/v3/businesses/search'
business_results = []


zips_found = 0
# Loop Through Zip Codes
for zip_code in zip_codes_search:
    try:
        offset = 0
        params = {'location': zip_code,
                 'term': 'Restaurants',
                 'limit': 50,
                 'offset': offset}

        response = requests.get(url=url, params=params, headers = headers)

        #If Request Successful- Write to List of Dictionaries
        if response.status_code == 200:
            results = response.json()
            # If Results List is Empty
            if not business_results: 
                business_results = results['businesses']
            else:
                business_results.extend(results['businesses'])
            # Get Number of Results
            results_count = results['total']

        #If Request Results Are More Than Limit- Offset Another 50
        if results_count > 50:

            #While offset + 50 < result_count 
            while offset +50 < results_count:
                offset += 50
                params = {'location': zip_code,
                         'term': 'Restaurants',
                         'limit': 50,
                         'offset': offset}
                response = requests.get(url=url, params=params, headers = headers)

                #If Request Successful- Write to List of Dictionaries
                if response.status_code == 200:
                    results = response.json()
                    # If Results List is Empty
                    if not business_results: 
                        pp.pprint(business_results)
                        business_results = results['businesses']
                    else:
                        business_results.extend(results['businesses'])

        zips_found += 1
        print(f'{zips_found} zips found')
    except:
        print('Zip Code Not Found... Move On')

businesses found: 50
businesses found: 100
businesses found: 150
businesses found: 200
businesses found: 250
businesses found: 300
businesses found: 350
businesses found: 400
businesses found: 450
businesses found: 500
businesses found: 550
businesses found: 600
1 zips found
Zip Code Not Found... Move On
Zip Code Not Found... Move On
businesses found: 668
businesses found: 718
businesses found: 768

In [ ]:
# Convert results to a DataFrame
business_result_df = pd.DataFrame(business_results)
business_result_df

In [ ]:
# Keep Subset (alias, categories, name, price, rating, review_count)
business_result_df = business_result_df[['alias', 'name', 'price', 'rating', 'review_count', 'location']]

# Drop Duplicates (alias)
business_result_df = business_result_df.drop_duplicates(subset = ['alias']).reset_index(drop=True)
business_result_df

In [ ]:
# Extract Zip Code
business_result_location_list = business_result_df['location'].tolist()
business_result_location_df = pd.DataFrame(business_result_location_list)
business_result_location_df = business_result_location_df[['zip_code']]

In [ ]:
# Get Back Into 1 DF
business_result_df = pd.concat([business_result_df, business_result_location_df], axis=1)
del business_result_df['location']

In [ ]:
# Drop NAs In zip_code 
business_result_df = business_result_df.dropna(subset=['zip_code']).reset_index(drop=True)

In [ ]:
# Save to Pickle (as Backup)
business_result_df.to_pickle('business_result_df.pkl')